<div class="container">
  <h1 class="text-center">Restaurants</h1>
    <div>
      <ul class="list-unstyled">
        <% @restaurants.each do |restaurant| %>
          <li><%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none" %></li>
        <% end %>
      </ul>
    </div>
</div>
