<div class="container">
  <h1>Restaurants</h1>
    <div>
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li><%= link_to restaurant.name, restaurant_path(restaurant), class: "btn btn-primary"%></li>
        <% end %>
      </ul>
    </div>
</div>
